@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Small screens */
@media (max-width: 640px) {
    body {
      min-height: 80vh; /* Adjust the value as needed */
    }
  }
  
  /* Medium screens */
  @media (min-width: 641px) and (max-width: 768px) {
    body {
      min-height: 90vh; /* Adjust the value as needed */
    }
  }
  
  /* Large screens */
  @media (min-width: 769px) {
    body {
      min-height: 30vh; /* Adjust the value as needed */
    }
  }
  